*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../picture/background.jpg");
    background-size: cover;
    background-position: center;
}
h1{
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
    position: center;
    font-family: "Montserrat";
    color: #0fdbe3;
    font-size: 50px;
}
/* 整体表单样式 */
form {
    margin: 20px auto;
    width: 300px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

/* 表单输入字段样式 */
form input[type="text"], form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 提交按钮样式 */
form input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 提交按钮悬停效果 */
form input[type="submit"]:hover {
    background-color: #45a049;
}

/* 输入字段标签样式 */
form label {
    font-weight: bold;
}

/* 表单布局样式 */
form br {
    margin-bottom: 10px;
}